html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-family: "Denk One";
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f2f0;
}

img {
  display: block;
  width: 100%;
}

main ol {
  display: flex;
  list-style-type: none;
  grid-template-columns: 1rem;
  background-color: #ede3db;
  border-radius: 8px;
  border-color: #623b0c;

}

main ol li {
  width: 50%;
  padding: .5em .75em .6em;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;

}

main li p {
  flex-grow: 1;
  font-family: Georgia, serif;
}


@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
